<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Exercise Manager Companion" android:theme="@style/Theme.ExerciseManager.Mobile">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".sync.WearSessionListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/workout-session" />
            </intent-filter>
        </service>
    </application>
</manifest>
